In [2]:
import pandas as pd
import numpy as np

In [17]:
data = pd.read_csv('logbandwidth.txt', sep=',', engine='python',error_bad_lines=False, index_col=False,
                   names=['IP', 'a','b','','c','d','e','f','g','h','i','j','k','l','m'])

In [18]:
data.head()

,IP,a,b,,c,d,e,f,g,h,i,j,k,l,m
0,192.168.0.175,1553749645,94156,0,2008,92148,0,87338,0,131358,0,672,130686,0,126184
1,0.0.0.0,1553749645,987326,0,113020,874214,0,863945,0,13371791,1160,95131,13275500,0,13266415
2,192.168.0.181,1553749645,86538,0,28812,57726,0,55596,0,118317,0,22779,95538,0,93315
3,192.168.0.176,1553749645,72694,0,4944,67750,0,67750,0,120077,0,3268,116809,0,116809
4,192.168.0.188,1553749645,33758,0,25019,8739,0,8295,0,42020,0,19160,22860,0,22492

In [88]:

data_filter=data.groupby(['IP'])['m'].agg('sum').sort_values(ascending=False).iloc[1:11].to_frame().reset_index()
data_filter

              IP           m
0   192.168.0.10  1767076157
1  192.168.0.158   139124967
2  192.168.0.190   100987815
3  192.168.0.183    93836426
4  192.168.0.168    90941464
5  192.168.0.170    90807425
6  192.168.0.172    83524751
7  192.168.0.167    81414040
8  192.168.0.156    75766651
9  192.168.0.161    65496268

In [58]:
data['m'].agg('sum')-2786134435

2786134433

In [89]:
x=data_filter['IP'].tolist()
y=data_filter['m'].tolist()

['192.168.0.10',
 '192.168.0.158',
 '192.168.0.190',
 '192.168.0.183',
 '192.168.0.168',
 '192.168.0.170',
 '192.168.0.172',
 '192.168.0.167',
 '192.168.0.156',
 '192.168.0.161']