In [8]:
import requests
import json
import pandas as pd
# from requests_toolbelt.utils import dump

In [10]:
dict=[{"id": "841c254e-8c6e-45d5-93f1-0fe33fb2bf55", "orderId": 7341246, "subscriptionId": "4627edvl1je2", "state": "PAID", "amount": 49, "currency": "MXN", "dateCharge": 1461992400000}, {"id": "e703cfd3-55ca-4011-bd67-57a9f900325d", "orderId": 7358464, "subscriptionId": "4627edvl1je2", "state": "PAID", "amount": 49, "currency": "MXN", "dateCharge": 1464584400000}, {"id": "c6b15c65-fb2f-4e95-a5ec-17b874a69439", "orderId": 7393321, "subscriptionId": "4627edvl1je2", "state": "NOT_PAID", "amount": 49, "currency": "MXN", "dateCharge": 1467262800000}, {"id": "1f0f78a8-7ea4-4cbd-9e21-610d8aa37233", "subscriptionId": "4627edvl1je2", "state": "CANCELLED", "amount": 49, "currency": "MXN", "dateCharge": 1469854800000}]

In [16]:
dict

[{'id': '841c254e-8c6e-45d5-93f1-0fe33fb2bf55',
  'orderId': 7341246,
  'subscriptionId': '4627edvl1je2',
  'state': 'PAID',
  'amount': 49,
  'currency': 'MXN',
  'dateCharge': 1461992400000},
 {'id': 'e703cfd3-55ca-4011-bd67-57a9f900325d',
  'orderId': 7358464,
  'subscriptionId': '4627edvl1je2',
  'state': 'PAID',
  'amount': 49,
  'currency': 'MXN',
  'dateCharge': 1464584400000},
 {'id': 'c6b15c65-fb2f-4e95-a5ec-17b874a69439',
  'orderId': 7393321,
  'subscriptionId': '4627edvl1je2',
  'state': 'NOT_PAID',
  'amount': 49,
  'currency': 'MXN',
  'dateCharge': 1467262800000},
 {'id': '1f0f78a8-7ea4-4cbd-9e21-610d8aa37233',
  'subscriptionId': '4627edvl1je2',
  'state': 'CANCELLED',
  'amount': 49,
  'currency': 'MXN',
  'dateCharge': 1469854800000}]

In [14]:
data =pd.DataFrame.from_dict(dict)
data

,amount,currency,dateCharge,id,orderId,state,subscriptionId
0,49,MXN,1461992400000,841c254e-8c6e-45d5-93f1-0fe33fb2bf55,7341246.0,PAID,4627edvl1je2
1,49,MXN,1464584400000,e703cfd3-55ca-4011-bd67-57a9f900325d,7358464.0,PAID,4627edvl1je2
2,49,MXN,1467262800000,c6b15c65-fb2f-4e95-a5ec-17b874a69439,7393321.0,NOT_PAID,4627edvl1je2
3,49,MXN,1469854800000,1f0f78a8-7ea4-4cbd-9e21-610d8aa37233,NaN,CANCELLED,4627edvl1je2

In [15]:
response = {}
data= {
    "inmediatePayment" : "true"
}



if("inmediatePayment" in data):
    response["inmediatePayment"] = "1" if (data["inmediatePayment"]=="true") else "0"
    response["inmediatePayment"] = "1"
else:
    response["inmediatePayment"] = "0"
    
print(response)

{'inmediatePayment': '1'}

In [20]:
array = ['nana', 'pama', 'surprised']

for (i, item) in enumerate(array):
    print(i, item)

0 nana
1 pama
2 surprised