In [144]:
import pandas as pd
import json, os
import sys
import traceback

In [116]:
  

    
ESTRUCTURA_ARCHIVO= 'conf\\glarchivo_estructura.json'
with open(ESTRUCTURA_ARCHIVO, 'r') as file:
    gl_estructura = json.load(file)
    

gl_ruta = "LIQUIDA65.LIQ"
gl_data = pd.read_csv(gl_ruta, names=['original'])
gl_error = '0'
gl_funcion_actual ='no_funcion_actual'

In [160]:
def fun_formatear_campos_definidos():
    gl_funcion_actual="fun_formatear_campos_definidos"
    for (i, item) in enumerate(gl_estructura):
        gl_data[item['nombre']]=gl_data["original"].apply(lambda x:x[item['inicio']:item['fin']])

    
def fun_elimina_linea(linea):
    global gl_data
    try:
        if(linea != -1):
            gl_data = gl_data.drop(linea, axis=0) 
        else:
            gl_data = gl_data[:-1]
    except Exception as e:
        print(sys.exc_info()[0])
        print(e)
        print(traceback.format_exc())
#         print(traceback)

In [118]:
fun_formatear_campos_definidos()

In [130]:
gl_data.head()

,original,ORIGEN,PROPUESTA,PLAN,POLIZA,CERTIFICADO,LIBRE,FECHA_RECTOR,FECHA_DESDE,FECHA_HASTA,...,VALOR_UF,PRIMA_PESO,VACIO,LIBRE2,GLOSA,DOCUMENTO,VERIFICADOR,PRIMA * IVA,FECHA_NACIMIENTO,FECHA_NACIMIENTO_CON
1,50000041929505SOADPV00000000000000000000000000...,50,000041929505,SOADPV,000000000000,000000000,0000000,20190417,20100811,20500101,...,000002760245,0000013525,000,0000000000,CARGO NORMAL,012630837,K,0000000002160,19740111,19740111
2,50000041840759SOADPV00000000000000000000000000...,50,000041840759,SOADPV,000000000000,000000000,0000000,20190417,20100630,20500101,...,000002760245,0000013525,000,0000000000,CARGO NORMAL,004680021,4,0000000002160,19440818,19440818
3,50000042091191SOADPV00000000000000000000000000...,50,000042091191,SOADPV,000000000000,000000000,0000000,20190427,20101021,20500101,...,000002764837,0000013548,000,0000000000,CARGO NORMAL,014079043,5,0000000002164,19811115,19811115
4,50000042082933SOADPV00000000000000000000000000...,50,000042082933,SOADPV,000000000000,000000000,0000000,20190427,20101018,20500101,...,000002764837,0000013548,000,0000000000,CARGO NORMAL,010201813,3,0000000002164,19661016,19661016
5,50000042469062SOADPV00000000000000000000000000...,50,000042469062,SOADPV,000000000000,000000000,0000000,20190422,20110301,20500101,...,000002762540,0000013536,000,0000000000,CARGO NORMAL,015957495,4,0000000002162,19841130,19470429

In [129]:
gl_data.shape

(1886, 25)

In [125]:
gl_data.iloc[-1,:]

original                50000040815021SOAID8000000SOAID800000013500000...
ORIGEN                                                                 50
PROPUESTA                                                    000040815021
PLAN                                                               SOAID8
POLIZA                                                       000000SOAID8
CERTIFICADO                                                     000000135
LIBRE                                                             0000000
FECHA_RECTOR                                                     20190417
FECHA_DESDE                                                      20090320
FECHA_HASTA                                                      20500320
CUOTA                                                                  01
TOTAL_CUOTA                                                            12
MEDIO_PAGO                                                            005
CUENTA                                               00000000000000000000
MONEDA                                                                 01
VALOR_UF                                                     000002760245
PRIMA_PESO                                                     0000010489
VACIO                                                                 000
LIBRE2                                                         0000000000
GLOSA                                                        CARGO NORMAL
DOCUMENTO                                                       008537334
VERIFICADOR                                                             K
PRIMA * IVA                                                 0000000001675
FECHA_NACIMIENTO                                                 19680801
FECHA_NACIMIENTO_CON                                             19680801
Name: 1886, dtype: object

In [161]:
fun_elimina_linea(0)

<class 'KeyError'>
'[0] not found in axis'
Traceback (most recent call last):
  File "<ipython-input-160-3ef5a624c90c>", line 11, in fun_elimina_linea
    gl_data = gl_data.drop(linea, axis=0)
  File "C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\frame.py", line 3697, in drop
    errors=errors)
  File "C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\generic.py", line 3111, in drop
    obj = obj._drop_axis(labels, axis, level=level, errors=errors)
  File "C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\generic.py", line 3143, in _drop_axis
    new_axis = axis.drop(labels, errors=errors)
  File "C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\indexes\base.py", line 4404, in drop
    '{} not found in axis'.format(labels[mask]))
KeyError: '[0] not found in axis'