## EY PAPU
eSTO ES UNA LOCURA MI HERMANO

import pyodbc
import pandas as pd
from querys import sql
import os

In [6]:
#PATH FOLDER
cwd = os.getcwd() + '\\files'

#BUILD PATH
cwd=os.path.join(cwd,'1_ID_15_ASOCIADOS_AGREGADO_ENERO.xls')
print(cwd)

C:\Users\THINKPAD\Google Drive\07.Python\05.Estadisticas descriptiva ODIN\files\1_ID_15_ASOCIADOS_AGREGADO_ENERO.xls

In [7]:
asociados_enero = pd.read_excel(cwd,index_col=0)

In [8]:
asociados_enero

,IDENTIFICACION,actividad,monto_ingreso,monto_egreso,total_patrimonio,total_debito,total_credito,cantidad_debito,cantidad_credito,actividad_descripcion,cluster_anterior,cluster_actual
0,8,703,800,400,1200,100,0,1,0,Asalariados,0,0
1,9,703,800,400,1200,100,0,1,0,Asalariados,0,0
2,10,703,800,400,1200,100,0,1,0,Asalariados,0,0
3,11,703,800,400,1200,100,0,1,0,Asalariados,0,0
4,12,703,800,400,1200,100,0,1,0,Asalariados,0,0
5,13,703,800,400,1200,100,0,1,0,Asalariados,0,0
6,14,703,800,400,1200,100,0,1,0,Asalariados,0,0
7,15,703,800,400,1200,100,0,1,0,Asalariados,0,0
8,16,703,800,400,1200,100,0,1,0,Asalariados,0,0
9,17,703,800,400,1200,100,0,1,0,Asalariados,0,0
10,18,703,800,400,1200,100,0,1,0,Asalariados,0,0
11,19,703,800,400,1200,100,0,1,0,Asalariados,0,0
12,20,703,800,400,1200,100,0,1,0,Asalariados,0,0
13,21,703,800,400,1200,100,0,1,0,Asalariados,0,0
14,22,703,800,400,1200,100,0,1,0,Asalariados,0,0
15,23,703,800,400,1200,100,0,1,0,Asalariados,0,0
16,24,703,800,400,1200,100,0,1,0,Asalariados,0,0
17,25,703,800,400,1200,100,0,1,0,Asalariados,0,0
18,26,703,800,400,1200,100,0,1,0,Asalariados,0,0
19,27,703,800,400,1200,100,0,1,0,Asalariados,0,0
20,28,703,800,400,1200,100,0,1,0,Asalariados,0,0
21,29,703,800,400,1200,100,0,1,0,Asalariados,0,0
22,30,703,800,400,1200,100,0,1,0,Asalariados,0,0
23,31,703,800,400,1200,100,0,1,0,Asalariados,0,0
24,32,703,800,400,1200,100,0,1,0,Asalariados,0,0
25,33,703,800,400,1200,150,0,1,0,Asalariados,0,0
26,34,703,800,400,1200,150,0,1,0,Asalariados,0,0
27,35,703,800,400,1200,150,0,1,0,Asalariados,0,0
28,36,703,800,400,1200,150,0,1,0,Asalariados,0,0
29,37,703,800,400,1200,150,0,1,0,Asalariados,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
15970,15971,703,800,400,1000,6200,50,8,1,Asalariados,4,4
15971,15972,703,800,400,1000,6200,50,8,1,Asalariados,4,4
15972,15973,703,800,400,1000,6200,50,8,1,Asalariados,4,4
15973,15974,703,800,400,1000,0,0,0,0,Asalariados,0,0
15974,15975,703,800,400,1000,0,0,0,0,Asalariados,0,0
15975,15976,703,800,400,1000,0,0,0,0,Asalariados,0,0
15976,15977,703,800,400,1000,0,0,0,0,Asalariados,0,0
15977,15978,703,800,400,1000,0,0,0,0,Asalariados,0,0
15978,15979,703,800,400,1000,0,0,0,0,Asalariados,0,0
15979,15980,703,800,400,1000,0,0,0,0,Asalariados,0,0
15980,15981,703,800,400,1000,0,0,0,0,Asalariados,0,0
15981,15982,703,800,400,1000,0,0,0,0,Asalariados,0,0
15982,15983,703,800,400,1000,0,0,0,0,Asalariados,0,0
15983,15984,703,800,400,1000,0,0,0,0,Asalariados,0,0
15984,15985,703,800,400,1000,0,0,0,0,Asalariados,0,0
15985,15986,703,800,400,1000,0,0,0,0,Asalariados,0,0
15986,15987,703,800,400,1000,0,0,0,0,Asalariados,0,0
15987,15988,703,800,400,1000,0,0,0,0,Asalariados,0,0
15988,15989,703,800,400,1000,0,0,0,0,Asalariados,0,0
15989,15990,703,800,400,1000,0,0,0,0,Asalariados,0,0
15990,15991,703,800,400,1000,0,0,0,0,Asalariados,0,0
15991,15992,703,800,400,1000,0,0,0,0,Asalariados,0,0
15992,15993,703,800,400,1000,0,0,0,0,Asalariados,0,0
15993,15994,703,800,400,1000,0,0,0,0,Asalariados,0,0
15994,15995,703,800,400,1000,0,0,0,0,Asalariados,0,0
15995,15996,703,800,400,1000,0,0,0,0,Asalariados,0,0
15996,15997,703,800,400,1000,0,0,0,0,Asalariados,0,0
15997,15998,703,800,400,1000,0,0,0,0,Asalariados,0,0
15998,15999,703,800,400,1000,0,0,0,0,Asalariados,0,0
15999,16000,0,800,400,1000,0,0,0,0,OTROS,0,0